Repository PPROF1-2021/a3-g8-teamfire, pull requests merged in 2021-11, with the labels that each got.

#30 Modelo normalizado de la base de datos
  backend/BDD/modelo_normalizado_BDD.pdf
Labels: documentation, Back-end

#33 subo archivo script dll a la carpeta bdd de backend
  backend/BDD/SQLTeamFireDLL.sql
Labels: Back-end

#34 Documentación, Pruebasy requerimientos de BDD.
  documentacion/Informe_BDD.pdf
Labels: documentation

#42 Cambios en el navbar para los html, cambios hojas de estilo css
  frontend/contacto.html
  frontend/css/css/style.css
  frontend/css/main.css
  frontend/cursos.html
  frontend/index.html
  frontend/login.html
  frontend/recluting.html
  frontend/registro.html
Labels: Front-end

#47 subo documento pdf de la evolucion del grupo
  documentacion/NOSOTROS.pdf
Labels: documentation

#50 Especificación del Sprint 3
  documentacion/Sprint3_Grupo8_Aula3_ Especifiación.pdf
Labels: documentation
